<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToMeet</title>

    <environment include="Development">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
        <link rel="stylesheet" href="~/css/test.css" />
        
    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> -->
        <!-- <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/test.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
        <link rel="stylesheet" href="~/css/loginsign.css" />
    </environment>
</head>
<body>
    <!--Navbar-->
    <ul class="nav">
        <li class="left"><a class="active" asp-area="" asp-controller="Home" asp-action="Index">ToMeet</a></li>
        <li class="handel">
            <a><i class="fa fa-bars"></i></a>
        </li>
        <li class="left min">
            
            <form asp-controller="Events" asp-action="index" method="GET">
                <input type="text" placeholder="Search" name="searchString">
            </form>
            
        </li>
    
        <li class='others min'><a class="signup" >Log in</a></li>
        <li class='others min'><a class="signup" >Sign up</a></li>
        <li class='others min'><a  asp-area="" asp-controller="Home" asp-action="About">Publish</a></li>
        <li class='others min'><a  asp-area="" asp-controller="Events" asp-action="Index">Explore</a></li>
    </ul>
    <!--Sign up-->
    <div id="modal-wrapper" class="modal">
        <form class="modal-content animate" asp-action="" method="">
            <div class="container1">
                <span class="close" title="Close PopUp">&times;</span>
            </div>
            <div class="container2">
                
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                </a>
                
                <div class="hr-sect">or</div>
                <input type="text" placeholder="Enter Email" name="uname">
                <input type="password" placeholder="Enter Password" name="psw">        
                <!-- <button type="submit">Login</button> -->
                <input type="submit" value="Login">
                <input type="checkbox" style="text-decoration:none; text-align:left;"> 
                <label>Remember me</label>  
                <div class="forgotpw">
                    <a href="#" style="text-decoration:none;">Forgot Password ?</a>
                </div>
                <hr>
                <p style="margin-top:15px;text-align:center;">Don’t have an account? 
                    <a href="#"style="text-decoration:none;">Sign up</a>
                </p>
            </div>
        </form>
    </div>




    <!--content-->
    <div class="container body-content">
        @RenderBody()
    <div class="MyClass">dsfsdafd</div>
    <p class="qq">1</p>
        <footer>
            <p>&copy; 2018 - ToMeet</p>
            
        </footer>
    </div>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=2110219079267346&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/navbar.js" ></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
