body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: antiquewhite;
}

.topnav a.right {
    float: right;
}

.topnav a{
    float: left;
    display: block;
    color: #070000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ffb731;
    color: black;
}

.active {
    background-color: #ffb731;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width:768px) {
    .topnav a:not(:first-child) {display: none;} 
    .topnav.responsive .search-container {
        float: left;
        display: block;
       
    } 
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width:768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .search-container {
        position: absolute;
        top: 0;
        left: 93.14px;
        
    }   
}

/* SearchBar */
.topnav .search-container {
    float: left;
   
  }
input[type=text] {
    width: 130px;
    padding: 6px 0px 6px 40px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    font-size: 17px;
    border: none;
    background-image: url('icons/search-solid.svg');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
    
}


